.topbar-box,
.topbar-box-with-nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
    transition: margin-left 0.3s ease; 
}

/* .topbar-box-with-nav {
    margin-left: 0; 
} */


.topbar-box-with-nav {
    /* margin-left: 190px;      */
}

@media screen and (max-width: 800px) {
    .topbar-box{
        background-color: #FFFFFF ;
        border-bottom: 1px solid #F2F2F2
    }
}

.topbar-icon-box {
    background: #FEFEFF;
    box-shadow: 4px 4px 13px 0px #2948981A;
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.topbar-title,
.topbar-title-with-nav {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary);
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
    /* margin-bottom: 10px; */
}

.topbar-title-with-nav{
    /* margin-left: 190px;      */
}




.topbar-content{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}
.topbar-inside{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.topbar-profile{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.topbar-img{
    margin-right: 20px;
}
.menu{
    margin:0px 10px  0px 0px;
}

.topbar-title-small {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #9A9A9A;
}

.topbar-input-box {
    width: 333px;
    border-radius: 7px;
    border: none;
    height: 48px;
    background: #F5F9FD;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.topbar-input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9A9A9A;
    border: none;
    background: #F5F9FD;
    outline: none;
}

.topbar-input::placeholder {
    color: #9A9A9A;
}

.space-between {
    margin-left: 10px;
}