.edit-general-box-select{
    font-size: 14px;
    width: 100%;
}

.select-input-checkbox{
    width: 18px;
    height: 18px;
    margin-top: 7px;
    margin-right: 5px;
    border: 1.5px solid #FFFFFF;
}
